div(id="landing" class="landing-page")
    
  .about
    img(src='{tree}' alt="tree")    
    .text
      h2 Следы на снегу привели Деда Мороза к логову похитителей...
      h2 Но он один не справится...
      h2 Только ты можешь помочь ему!
      h2 В твоих знаниях заключена великая сила магии! 
    button(type="button" class="btn btn-info btn-lg") {content2}
  div {Slides}
