header {

  .Header-logo {
    perspective: 400px;
    perspective-origin: center center;
    animation: Header-logo-spin infinite 20s linear;
    width: 40px;
    filter: drop-shadow(2px 2px 5px #222);    
  }
  
  @keyframes Header-logo-spin {
    0% {
      transform: rotateY(0deg);
    }
    25% {
      transform: rotateY(60deg);
    }
    50% {
      transform: rotateY(0deg);
    }
    75% {
      transform: rotateY(-60deg);
    }
    100% {
      transform: rotateY(0deg);
    }
  }
  
  Button {
    box-shadow: 2px 2px 5px;   
  
  }

}

