footer
    div
      p RSSchool 2018Q3 Mikhail Zyranau
    div
      p Client: Bootstrap, JQuery, jQuery-UI, JavaScript ES6
      p Bundle: Webpack - 4, Babel, ESLint airbnb
      p Preprocessors: SCSS, Pug 
      p Server: Node.js, Express, MongoDB, Heroku   
    div
      p 
        a(href="tel: +375293136578") +375 (29) 313-65-78
      p 
        a(href="mailto: zmichgen@gmail.com") zmichgen@gmail.com
      p 
        a(href="skype: zmichgen") Skype
      p 
        a(href="https://github.com/zmichgen" target="blank") GitHub
