footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: rgb(34, 29, 29);
  color: rgb(189, 189, 189);
  
  div {
    padding: 20px;
    
    p {
      margin: 0;
      font-family: 'Lato', Arial, Helvetica, sans-serif;
      font-size: 1vw;
    }
  }
  
  
}
